:root {
  --a4-width: 21cm;
  --a4-height: 29.7cm;
  --font-size: 2cm;
  --font-size-factor: 1;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

label {
  display: block;
  margin: 10px;
}
input {
  width: 100%;
  margin-top: 5px;
}

.controls {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.5);
  color: white;
  padding: 10px;
}

.frame {
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.lyrics {
  font-family: 'Titan One', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: calc(var(--font-size) * var(--font-size-factor) / 2);
  width: calc(var(--a4-width) / 2);
  height: calc(var(--a4-height) / 2);
  text-shadow: 0 0 2px white, 0 0 2px white, 0 0 2px white;
  padding: 15mm 22.5mm 15mm 22.5mm;
  border: 15mm solid black;
  box-shadow: 10px 10px 10px rgba(0,0,0,0.2) inset;
}

@media print {

  .lyrics {
    box-shadow: none;
    display: initial;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: calc(var(--font-size) * var(--font-size-factor));
  }
  .controls {
    display: none;
  }
  body{
    width: 21cm;
    height: 29.7cm;
    margin: 0;
    padding: 30mm 45mm 30mm 45mm;
 } 
}
